@charset "utf-8";

html {
    height: 100%;
    font-size: 62.5%;
    overflow-x: hidden;
    font-family: 'Yuji Syuku', serif;
    
}


body {
    margin: 0;
}


header {
    width: auto;
    height: 46px;
    background-color: silver;
    padding: 0;
    
}

.rogo{
    text-align: center;
    position: fixed;
    font-size: 17px;
    margin-left: 110px;
    margin-top: 5px;
    text-decoration: none;
    

}



body , div , dl , dt , dd , ul , ol , li , h1 , h2 , h3 , h4 , h5 , h6 , pre , code , form , fieldset , legend , input , textarea , p , blockquote , th , td {
    margin: 0;
    padding: 0;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  fieldset , img {
    border: 0;
  }
  /*
    TODO think about hanlding inheritence differently, maybe letting IE6 fail a bit...
  */
  address , caption , cite , code , dfn , em , strong , th , var {
    font-style: normal;
    font-weight: normal;
  }
  
  ol , ul {
    list-style: none;
  }
  
  caption , th {
    text-align: left;
  }
  h1 , h2 , h3 , h4 , h5 , h6 {
    font-size: 100%;
    font-weight: normal;
  }
  q:before , q:after {
    content: "";
  }
  abbr , acronym {
    border: 0;
    font-variant: normal;
  }
  /* to preserve line-height and selector appearance */
  sup {
    vertical-align: text-top;
  }
  sub {
    vertical-align: text-bottom;
  }
  input , textarea , select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
  }
  /*to enable resizing for IE*/
  input , textarea , select {
    font-size: 100%;
  }
  /*because legend doesn't inherit in IE */
  legend {
    color: #000;
  }
  /* YUI CSS Detection Stamp */
  #yui3-css-stamp.cssreset {
    display: none;
  }
  
  /* style.css */
  
  /* -------------------- */
  /* base
  /* -------------------- */
  
  li {
    list-style: none;
  }
  a {
    color: #fff;
    text-decoration: none;
  }
  img {                                 /*ヘッダーロゴ文字サイズ*/
    vertical-align: bottom;
    width: 60%;
  }
  
  
  
  /* -------------------- */
  /* header
  /* -------------------- */
  .header {
    align-items: center;
    background-color: #1b1310;
    border-bottom: 1px solid #fff;
    color: #fff;
    display: flex;
    height: 74px;
    justify-content: space-between;
  }

  .site-title {
      padding-left: 0;
  }

  .nav-list {
    /* navの横並び */
    display: flex;
  }
  .nav-item {
    /* メニューの右側に余白 */
    margin-right: 55px;
  }

  .nav-item a {
    font-size: 2.0rem;
  }
  
  .burger-btn {
    display: none;
  }
  
  /* ------------------ */
  /* fv
  /* ------------------ */
  .fv {
    align-items: center;
    background-color: #141414;
    background-image: url(../img/fv-bgi@2x.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 90vh;
    justify-content: center;
  }
  .main-copy {
    border: 2px solid #fff;
    color: #fff;
    font-size: 50px;
    font-weight: bold;
    padding: 34px 42px;
  }
  
  /* ------------------ */
  /* about
  /* ------------------ */
  .section-title {
    font-size: 36px;
    font-weight: bold;
    letter-spacing: .05em;
    margin-bottom: 70px;
    text-align: center;
  }
  h3 {
    font-size: 2.4rem;
    font-weight: bold;
    letter-spacing: .1em;
    line-height: 2;
    margin-bottom: 40px;
  }
  .section-wrapper {
    padding: 100px 10% 50px;
  }
  
  @media screen and (max-width:768px) {
    /* ----------------------- */
    /* base_sp
    /* ----------------------- */
    /* デフォルトのbuttonスタイルをリセット */
    button {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background: transparent;
      border: 0;
      border-radius: 0;
      color: inherit;
      cursor: pointer;
      font: inherit;
      margin: 0;
      outline: none;
      padding: 0;
      vertical-align: middle;
    }
    
    /* ------------------ */
    /* humberger-menu */
    /* ------------------ */
    .header {
      padding: 0 5%;
    }
      
  /* 以下、ハンバーガーボタン */
    .burger-btn {
      display: block;
      height: 39px;
      position: relative;
      width: 39px;
      z-index: 3;
    }
    
    .bar {
      background-color: #fff;
      display: block;
      height: 1px;
      left: 50%;
      position: absolute;
      transform: translateX(-50%);
      width: 20px;
    }
    .bar_top {
      top: 10px;
    }
    .bar_mid {
      top: 50%;
      transform: translate(-50%,-50%);
    }
    .bar_bottom {
      bottom: 10px;
    }
    .burger-btn.close .bar_top {
      transform: translate(-50%,10px) rotate(45deg);
      transition: transform .3s;
    }
    .burger-btn.close .bar_mid {
      opacity: 0;
      transition: opacity .3s;
    }
    .burger-btn.close .bar_bottom {
      transform: translate(-50%,-8px) rotate(-45deg);
      transition: transform .3s;
    }
    /* スクロール制御 */
    .noscroll{
      overflow: hidden;
    }
    
    /* 以下、ハンバーガーメニュー */
    .nav-wrapper {
      visibility: hidden;
      height: 100vh;
      left: 0;
      position: fixed;
      top: 0;
      width: 100vw;
      opacity: 0;
      transition: opacity .5s;
      z-index: 2;/*キービジュアルと.btn_triggerとの重なりの前後関係を調整*/
    }
    
    .header-nav {
      background-color: #1b1310;
      height: 100%;
      width: 100%;
      z-index: 2;
    }
    .nav-list {
      display: block;
      left: 50%;
      position: absolute;
      text-align: center;
      top: 50%;
      transform: translate(-50%,-50%);
    }
    .nav-item {
      margin-bottom: 40px;
      margin-right: 0;
    }
    
    /* メニューオープン時 */
    .nav-wrapper.fade {
      opacity: 1;
      visibility: visible;
    }
    
    /* ------------------ */
    /* fv */
    /* ------------------ */
    .main-copy {
      font-size: 30px;
    }
  
    /* ------------------ */
    /* about */
    /* ------------------ */
    h3 {
      font-size: 20px;
      margin-bottom: 30px;
    }
    .section-wrapper {
      padding: 100px 5% 50px;
    }
  }








    
    /*ここからファーストビュー写真*/

#header-photo {
    margin-top: 30px;
    margin-right: 5px;
    width: 100%;
}



#header-photo ul {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;             /*画像を横並び*/
    margin: 0px 0px 0px 5px; 
    padding: 0;
    
}

#header-photo li {
    position: relative;
    width: 20%;    
    list-style-type: none;              /*一列に何枚の写真を並べるか*/
}

#header-photo li:before {
    content: "";
    display: block;
    padding-top: 100%;           /*画像のサイズ比率設定*/
}

#header-photo img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    object-fit: cover;
    margin-right: 1px;
}



.photo-1 li img{
     transition: 1.3s;
     transform: rotate(0deg);
     animation-fill-mode: forwards;
}
.photo-1 li:hover img {
    transform: rotatex(360deg);   
}

.photo-1 img {
    opacity: 70%;
}

.photo-2 img{
    opacity: 40%;
}

.photo-3 img{
    opacity: 40%;
}
.photo-4 img{
    opacity: 70%;
}

.photo-1 {
    padding: 0px 0px 0px 0px;
}


.photo-2 p {
    position: absolute;
    margin-left: 0px;
    font-size: 2.5rem;
    font-weight: 1000;

}
.photo-3 p {
    position: absolute;
    margin-left: 0px;
    font-size: 2.5rem;

}


/*ここからmainの部分ですよ*/

/*お知らせ*/

.infomation h2 {
  text-align: center;
  font-size: 2.0rem;
}

.infomation {
    text-align: center;
    margin-top: 5rem;
    padding: 10px 20px 10px 20px;
}

.news-class {
   overflow: hidden;
}

.news-tab {
    width: 200px;
    height: auto;
    float: left;
    padding: 0px 50px 0px 50px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    font-size: 10px;
    letter-spacing: 1.5px;
}    

.news-tab p {
    margin-top: 5px;
    margin-bottom: 5px;
}

hr {
    clear: both;
    border-top: solid #bfb5b5;
    border-width: 1px 0 0;
    margin: 30px 0;
    height: 0;
    width: 80%;
    margin: 25px 50px 50px 30px;
    
}










/*カテゴリーの枠*/
#new {
    width: auto;
    height: 1%;
    margin: auto;
    text-decoration: none;
}
#new ul {
    display: flex;
    list-style-type: none;
    flex-wrap: nowrap;             /*画像を横並び*/
    flex-direction: row;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 10px;
    padding: 5px 5px 5px 5px;
}

#new li {
    position: relative;
    width: 33.3333%;    /*一列に何枚の写真を並べるか*/
    list-style-type: none; 
    margin: 10px 5px 5px 0px;
}

#new a {
  color: #1b1310;
}

#new li:before {
    content:"";
    display: block;
    padding-top: 100%;           /*画像のサイズ比率設定*/
}

#new img {
    position: absolute;
    width: 90%;
    height: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    object-fit: cover;
    
}
.new-menu h2 {
  text-align: center;
  font-size: 2.0rem;
}




/*カテゴリーから選ぶ*/
.category h2 {
  text-align: center;
  font-size: 2.0rem;
}

#category-frame {
    width: auto;                   /*autoにしても問題ないし、パソコン対応したいので100％から変更*/
    height: 1%;
    text-decoration: none;
    margin: 0 auto;
}
#category-frame ul {
    display: flex;
    list-style-type: none;
    flex-wrap: nowrap;             /*画像を横並び*/
    margin-top: 10px;
    flex-direction: row;
    padding: 0;
    
}

#category-frame li {
    position: relative;
    width: 33.3333%;    /*一列に何枚の写真を並べるか*/
    list-style-type: none; 
    margin: 10px 5px 5px 0px;
    text-align: center;
    justify-content: center;

}

#category-frame li:before {
    content:"";
    display:flex;
    padding-top: 100%;           /*画像のサイズ比率設定*/
}

#category-frame img {
    position: absolute;
    width: 90%;
    height: 50%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    object-fit: cover;
    padding: 0;

}
#category-frame a{
    font-size: 12px;
    margin-bottom: 40px;
    text-decoration: none;
    color: #1b1310;
}

.item-page-link-2 {
    width: 200px;
    height: 20px;   
    font-size: 10px;
    text-align: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5.0rem;
    display: table;
}

.item-page-link-2 h3 {
    text-decoration: none;
    display:table-cell;
    vertical-align:middle;
    background-color: #1b1310;
    color: whitesmoke;
    border-radius: 30px;
    width: 100%;
    font-size: 1.4rem;
}

.item-page-link-2 a:hover {
    background-color: whitesmoke;
    color: #1b1310;
}



/*フッター設定*/
#footer-nav {
    background-color: #1b1310;
    color: whitesmoke;
}

#footer-nav b {
    font-size: 18px;
}

#footer-nav {
    width: 315px;
    height: 130px;
    font-size: 8px;

}

#footer-nav {
    width: auto;
    height: auto;
    line-height: 16px;
}

#footer-nav ul {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    list-style-type: none;
    width: auto;
    margin-right: 0;
}

.footer-text {
    display: block;
    flex-direction: column;
    text-align: left;
    white-space: nowrap;
}

#footer-nav a {
    font-size: 10px;
}

.site-map {
    display: -webkit-box;
    -webkit-box-pack: center;
    overflow: hidden;
    text-align: center;
    font-size: 10px;
    width: auto;
}

.site-map a {
    text-decoration: none;
}

.box {
    float: left;
    padding-bottom: 5px;
    margin: 3px 4px 3px 4px;
}

iframe {
    width: 100%;
    height: 200px;
    
}


/*ここからフレキシブルの設定*/

/*481px以上のサイズに効く設定*/

@media screen and (min-width: 481px){
header {
    width: auto;
    
}

}


@media screen and (min-width: 960px){
.rogo {
   position: static;
}
.top-left {
    position: static;

}

.category {
  width: 100%;
}
}
